<%= link_to book_path(book), class: 'min-h-96' do %>
  <div id="<%= dom_id book %>" class="col-span-1 rounded-xl shadow-md flex flex-col h-full">
    <img
      src="https://techpit-market-prod.s3.amazonaws.com/uploads/course/eye_catch/219/9ea2bb1b-ee21-4a38-bf34-8e42c0b08ad7.jpg"
      class="w-full rounded-t-xl"
    >
    <div class="flex px-4">
      <img
        src="https://thumbs.dreamstime.com/b/proof-stamp-proof-stamp-white-background-183339379.jpg"
        class="h-16 w-16 rounded-full"
        style="margin-top: -2em;"
      >
      <p class="my-auto px-2 text-sm">higakijin</p>
    </div>
    <div class="px-5 pb-5 pt-2 grow flex flex-col gap-y-2">
      <p class="font-medium my-2"><%= book.title %></p>
      <div>
        <span class="bg-gray-200 rounded-full text-gray-500 px-2 mb-1 inline-block text-sm">その他</span>
        <span class="bg-gray-200 rounded-full text-gray-500 px-2 mb-1 inline-block text-sm">その他</span>
        <span class="bg-gray-200 rounded-full text-gray-500 px-2 mb-1 inline-block text-sm">その他</span>
      </div>

      <div class="mt-auto flex">
        <p class="text-blue-800 text-lg"><%= number_to_currency(book.price, unit: "￥", precision: 0) %></p>
        <p class="text-gray-400 ml-auto text-xs mt-auto"><%= book.created_at.strftime('%Y/%m') %></p>
      </div>
    </div>
  </div>
<% end %>