<%= render 'layouts/header' %>
<section>
  <div class="bg-blue-900 text-white">
    <div class="max-w-4xl mx-auto md:flex gap-x-6 p-6">
      <div class="md:w-2/3 flex flex-col">
        <div class="text-sm py-1">
          <span class="cursor-pointer hover:underline">Stulab</span>
          <span class="px-1">></span>
          <span class="cursor-pointer hover:underline"><%= link_to '本一覧', books_path %></span>
        </div>
        <h1 class="text-2xl font-bold"><%= @book.title %></h1>
        <p class="py-4 text-lg tracking-tighter"><%= @book.introduction %></p>
        <div class="flex text-sm gap-x-1 py-2">
          <p class="bg-white text-gray-500 px-2 rounded-full">その他</p>
          <p class="bg-white text-gray-500 px-2 rounded-full">その他</p>
        </div>
        <div class="flex mt-auto">
          <div>
            <div class="flex py-2">
              <i class="text-yellow-500 not-italic">
                <%= star_rate(@book.review_rate) %>
              </i>
              <span class="px-2"><%= @book.review_rate %></span>
            </div>
            <p class="text-sm">最終更新 <%= @book.updated_at.strftime('%Y/%m') %></p>
          </div>
          <div class="flex ml-auto gap-x-2">
            <img
              src="https://pbs.twimg.com/profile_images/1388720052862525444/6Ge2RLYf_400x400.jpg"
              class="h-10 w-10 rounded-full object-cover my-auto"
            >
            <p class="my-auto"><%= @book.user.name %></p>
          </div>
        </div>
      </div>
      <div class="md:w-1/3 bg-white rounded-xl p-4 flex flex-col gap-y-2 h-full my-2 md:m-0">
        <% if @book.thumbnail.attached? %>
          <%= image_tag @book.thumbnail, class: "w-full max-h-32 object-cover" %>
        <% else %>
          <img
            src="https://pbs.twimg.com/media/FQdhcm_XEAQy00u?format=jpg&name=medium"
            class="w-full max-h-32 object-cover"
          >
        <% end %>
        <div class="flex text-black">
          <p class="mt-auto">価格</p>
          <p class="font-semibold ml-auto text-2xl"><%= number_to_currency(@book.price, unit: "円", precision: 0) %></p>
        </div>
        <button class="text-blue-700 border border-blue-700 rounded-lg w-full hover:bg-blue-800 hover:text-white">購入する</button>
        <hr class="my-2">
        <div class="flex text-black">
          <p class="mt-auto">月額</p>
          <p class="font-semibold ml-auto text-2xl">2,980円</p>
        </div>
        <button class="bg-blue-800 rounded-lg w-full hover:bg-indigo-500">Stulab Extreamへ</button>
      </div>
    </div>
  </div>
  <div class="max-w-4xl mx-auto p-8">
    <div class="md:w-2/3 flex flex-col gap-y-10">
      <% if user_signed_in? && @book.user.public_uid == current_user.public_uid %>
        <div>
          <h1 class="border-l-8 border-blue-700 px-4 text-xl font-medium">著者オプション</h1>
          <div class="md:flex m-4 gap-x-4">
            <%= link_to '新チャプター作成', new_book_chapter_path(@book), class: 'bg-green-500 text-white rounded-md px-4 hover:bg-green-600' %>
            <%= link_to '本情報を編集', edit_book_path(@book), class: 'bg-blue-800 text-white rounded-md px-4 hover:bg-blue-600' %>
            <%= button_to '削除申請', book_path(@book), method: :delete, form: { data: { turbo_confirm: '削除申請を行います。よろしいですか？' }}, class: 'bg-red-500 text-white rounded-md px-4 hover:bg-red-400' %>
          </div>
        </div>
      <% end %>
      <div>
        <h1 class="border-l-8 border-blue-700 px-4 text-xl font-medium">Chapters</h1>
        <% @book.chapters.each do |chapter| %>
          <div class="border-b border-gray-400 pt-4 pb-2 md:flex tracking-tight">
            <div class="flex gap-x-4 mb-2 md:mb-0">
              <span class="my-auto">Chapter. <%= chapter.number %></span>
              <span class="my-auto"><%= chapter.caption %></span>
            </div>
            <div class="ml-auto flex gap-x-1">
              <% if user_signed_in? && @book.user.public_uid == current_user.public_uid %>
                <%= link_to '閲覧', book_chapter_path(@book, chapter), class: "bg-blue-800 hover:bg-blue-900 rounded-md text-white px-4 py-1" %>
                <%= link_to '編集', edit_book_chapter_path(@book, chapter), class: "bg-green-500 hover:bg-green-600 rounded-md text-white px-4 py-1" %>
                <% if chapter.number == @book.chapters.length %>
                <%# 公開していない、という条件も追加 %>
                  <%= button_to '削除', book_chapter_path(@book, chapter), method: :delete, form: { data: { turbo_confirm: '削除しますか？' }}, class: "bg-red-500 hover:bg-red-600 rounded-md text-white px-4 py-1" %>
                <% else %>
                  <p class="my-auto text-green-600">公開済み</p>
                <% end %>
              <% else %>
                <%= link_to 'サンプルをみる', book_chapter_path(@book, chapter), class: "bg-blue-800 hover:bg-blue-900 rounded-md text-white px-4 py-1" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <h1 class="border-l-8 border-blue-700 px-4 text-xl font-medium mb-4 ">著者のプロフィール</h1>
        <div class="flex">
          <div class="w-32">
            <img
              src="https://pbs.twimg.com/profile_images/1388720052862525444/6Ge2RLYf_400x400.jpg"
              class="h-32 rounded-full p-2 inline-block object-cover"
            >
            <p class="text-center text-sm"><%= @book.user.name %></p>
          </div>
          <div class="py-4 text-sm text-gray-500 w-3/4">
            <%= @book.user.introduction %>
          </div>
        </div>
      </div>
      <div>
        <h1 class="border-l-8 border-blue-700 px-4 text-xl font-medium mb-4">本のレビュー</h1>
        <% if user_signed_in? %>
          <%# 購入者限定の条件を書く           %>
          <%= turbo_frame_tag "new_review" do %>
            <%= render "reviews/form" %>
          <% end %>
        <% end %>
        <%= turbo_frame_tag "review_rate" do %>
          <%= render "reviews/rate" %>
        <% end %>
        <div class="mt-4">
          <%= turbo_frame_tag "reviews" do %>
            <%= render @book.reviews.last(3).reverse %>
            <% if @book.reviews.length >= 4 %>
              <div class="w-full flex">
                <%= link_to '▼ レビューを全て見る', book_reviews_path(@book), class: "mx-auto text-white bg-blue-800 rounded-lg px-4 py-2 m-4" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/footer' %>