<div class="flex flex-col gap-y-2 pt-4" id="<%= dom_id review %>">
  <div class="flex gap-x-4">
    <div class="text-yellow-500 not-italic"><%= star_rate(review.score) %></div>
    <p class="text-sm my-auto"><%= review.user.name %></p>
    <p class="text-sm text-xs text-gray-500 my-auto"><%= format_ymd(review.created_at) %></p>
  </div>
  <p class="tracking-tight text-gray-600 text-sm pb-2"><%= review.message %></p>
  <hr>
</div>